<!-- Barra de navegacion -->
<nav class="navbar navbark-dark bg-dark">
  <a class="navbar-brand text-light" href="/" style="padding: 10px;">Todo Listo Angular</a>
</nav>


<div class="container" style="padding: 25px">
  <div class="row">
    <div class="col-md-2" style="background-color: rgb(167, 138, 138);"></div>
    <div class="col-md-8" style="background-color: rgb(248, 215, 215);">
      <ul class="list-group">
          <li
          *ngFor="let task of getTasks()" 
          class="list-group-item task">
          <h4 class="list-group-item-heading">{{task.getTitle()}}<span class="badge alert-success"> {{task.getId()}}</span></h4>
          <p class="list-group-item-text">{{task.getDescription()}}</p>
        </li>
      </ul>

      <div class="card mt-5" style="">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Add New Task</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add new task</a>
        </div>
      </div>

    </div>
    <div class="col-md-2" style="background-color: rgb(238, 202, 202);"></div>
  </div>
</div>

  <img
    width="60"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    