<!-- Barra de navegacion -->
<nav class="navbar navbark-dark bg-dark">
  <a class="navbar-brand text-light" href="/" style="padding: 10px;">Todo Listo Angular</a>
</nav>


<div class="container" style="padding: 25px">
  <div class="row">
    <div class="col-xl-2 formi">
      <div class="card mt-5" style="">
        <div class="card-body col-auto">
          <h3 class="card-title">Aleatorio:</h3>
          <div class="form-group">
            <form #FactsForm="ngForm">
            <label for="" class="form-label">Cantidad:</label>
            <input type="number" name="number" #number="ngModel" [(ngModel)]="numberFacts" placeholder="Frases de gatos"  class="form-control"
            min="1" max="10" required>
            <p *ngIf="number.touched && !number.valid" style="color:rgb(153, 11, 11)">Ingresa numero entre 1 y 100</p>
            <p>Lista de frases de gatos aletorias</p>
          </form>
          </div>
          <button (click)="listGetFactsApi()" class="btn btn-primary" [disabled]="!FactsForm.valid">Generar</button>
         
        </div>
      </div>
    </div>


    <div class="col-lg-7" style="background-color: #f2f2f256;">
      <div class="buttoner" style="padding: 5px">
        <button class="btn btn-sm search" (click)="searchInArray()" [disabled]="false">Buscar</button >
        <span><input type="text" name="search" #search="ngModel" [(ngModel)]="searchWord"  placeholder="Buscar palabra ..."  class="form-control" required style="width: 25%;"></span>
        <button class="btn del btn-sm" (click)="cleanListTask()">Limpiar</button></div>
      <div class="content-list">
      <ul class="list-group">
          <li
          *ngFor="let task of getTasks() | searchin:searchWord" 
          class="list-group-item "
          fade
          [class.actived] = "task==currenTask"
          [class.finished] = "task.status">
          <h4 class="list-group-item-heading d-flex justify-content-between align-items-center">{{task.title}}
            <span>
            <span *ngIf="!task.status">
              <button class="btn ok btn-sm" (click)=doTask(task) title="Terminar">✔</button>
            </span>
            
            <button class="btn del btn-sm"
            (click)=deleteTask(task)
            title="Eliminar">✖</button>

            <span *ngIf="!task.status">
            <button class="btn edit btn-sm" (click)=editTask(task) title="Editar">✏</button>
            </span>
            </span>
             
          </h4>

         
          <p class="list-group-item-text  d-flex justify-content-between align-items-center">{{task.description}} <span>{{task.priority}}
            <span  *ngIf ="task.status" style="color: rgb(2, 90, 2)" class="spanfinish"> Terminada</span>
          </span></p>
        </li>
      </ul>
      </div>
    </div>

    <div class="col-lg-3 formi" >
      <div class="card mt-5" style="">
        <div class="card-body col-auto">
          <span *ngIf="editing"><h3 class="card-title">Editar tarea</h3></span>
          <span *ngIf="!editing"><h3 class="card-title">Nueva tarea</h3></span>
          <div class="form-group">
            <form #TaskForm="ngForm">
            <label for="" class="form-label">Titulo:</label>
            <input type="text" name="title" #title="ngModel" [(ngModel)]="currenTask.title"  placeholder="Insertar titulo"  class="form-control" required>
            <p *ngIf="title.touched && !title.valid" style="color: rgb(148, 9, 9);">Titulo es obligatorio</p>
            <label for="" class="form-label">Descripción:</label>
            <input type="text" name="description" #description="ngModel" [(ngModel)]="currenTask.description"  placeholder="Insertar descripcion" class="form-control" required>
            <p *ngIf="description.touched && !description.valid" style="color: rgb(148, 9, 9);">Descripción es obligatoria</p>
            <label for="" class="form-label">Prioridad:</label>
            <select class="form-select form-control" name="priority" #priority="ngModel" aria-label="multiple select example" [(ngModel)]="currenTask.priority" required>
              <option value="alta">Alta</option>
              <option value="media">Media</option>
              <option value="baja">Baja</option>
            </select>
            <p *ngIf="priority.touched && !priority.valid" style="color: rgb(148, 9, 9);">Seleccione la prioridad</p>
            </form>
          </div>
          
          <span *ngIf="editing"><button (click)="updateTask(TaskForm)" class="btn btn-primary btnedit" 
            [disabled]="!TaskForm.valid">Editar</button></span>
          <span *ngIf="!editing"><button (click)="addTask(TaskForm)" class="btn btn-primary btnadd" [disabled]="!TaskForm.valid">Agregar</button></span>
        </div>
      </div>

    </div>
  </div>
</div>

  <img
    width="60"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span></span>