

body{
    background: #ff9966;
    background: -webkit-linear-gradient(to left, #ff5e62, #ff9966); 
    background: linear-gradient(to left, #ff5e62, #ff9966); 
    height: 100vh;

}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    }
    ::-webkit-scrollbar-track-piece  {
    background-color: #ff5e62;
    }
    ::-webkit-scrollbar-thumb:vertical {
    height: 20px;
    background-color: #f8f8f8c2;
    }



.list-group-item{
    margin: 4px;
    border: 2px solid #ccc;
    transition: 0.2s;
}

.list-group-item:hover{
    border: 2px solid #ff5e62;
}

.content-list{
    padding: 5px;
    height: 85vh;
    overflow: auto
} 

.list-group-item-heading{
   padding: 5px;
   font-size: 20px;
   background-color: #e0dede;
   border-radius: 2px;
}

.spanfinish{
    font-weight: bolder;
    font-size: 12px;
}

h4::first-letter{
    text-transform: uppercase;
}

.list-group-item-text{
    font-size: 17px;
}

.list-group-item-text span{
    font-size: 15px;
    color: rgb(51, 49, 49);
    font-weight: 600;
}

.formi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}


.card{ 
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(22, 22, 22, 0.616);
    margin-bottom: 2px;
    background-color: #f2fef2a2;
}
.form-control{
    margin-bottom: 5px;
}

.form-label{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 1px;
}

.btn{
    margin: 1px;
    margin-top: 5px;
    background:#ff5e62;
    border: transparent;
    color: black;
    font-weight: 600;
    opacity: 0.8;
    transition: 0.3s;
}

.btn:hover{
    opacity: 1;
    background:#ff5e62;
}

.ok{
    background-color: #3C887E;
    color: white;
}

.ok:hover{
    background-color: #255852;
    color: white;
}

.del{
    background-color: #c2162a;
    color: white;
}

.del:hover{
    background-color: #940d1d;
    color: white;
}
.edit{
    background-color: #141B41;
    color: white;
}

.edit:hover{
    background-color: #0b144b;
    color: white;
}

.actived{
    opacity: 0.7;
    border: 2px solid #ff5e62;
}

.finished{
    font-size: 17px;
    text-decoration:line-through;
    opacity: 0.6;
}

.spanfinish{
    text-decoration:none;
    font-weight: bolder;
}

.btnedit{
    background:#003559;
    color: white;
} 

.btnadd[disabled]{
    background-color: #ff5e62;
    opacity: 0.6;
    cursor: not-allowed;
} 

.buttoner{
    
    padding: none;
}

.search{
    background-color: #003559;
    color: white;
}

.search:hover{
    background-color: #065e99; 
    color: white;
}

